<div class="row">
<div class="col=md-7">

<%= image_tag "Test Header 2.jpg", style:"width:100%" %>
<p>
    <h2><strong><%= @article.title %></strong></h2>
<small><small><%= @article.created_at.strftime("%a %-b %-d, %Y | %l:%M %p") %></small></small></p>
<p>
    <%= @article.text %>
</p>

<hr>

<%= render 'comments/comment' %>

<% if current_user %>
<hr>

<%= render 'comments/form' %>

<% else %>

Please <%= link_to 'Sign in', new_session_path %> or 
<%= link_to 'Sign up', new_user_path %> to submit a comment!

<% end %>

<p><br>

    <%= link_to "Back", articles_path, class:'btn btn-md btn-info' %>
    <%= link_to "Home", welcome_index_path, class:'btn btn-md btn-primary' %>

</p></div><!-- .col-md-10 closing-->
</div>